body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

div {
    color: green;
}

.piece {
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    width: 25px;
    height: 47px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.white, .black {
    border: 1px solid #999;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
}

.white {
    background: #c2c2c2;
}

.black {
    background: #7e7d80;
}