body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

div {
    color: green;
}

.piece {
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    width: 25px;
    height: 47px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.white, .black, .clickableWhite, .clickableBlack, .highlighted {
    border: 1px solid #999;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
}

.white, .clickableWhite {
    background: #c2c2c2;
}

.white:hover {
    background: #d2d2d2;
}

.clickableWhite {
    cursor: pointer;
}

.black, .clickableBlack {
    background: #7e7d80;
}

.clickableBlack {
    cursor: pointer;
}

.black:hover {
    background: #8e8d90;
}

.highlighted {
    background: #f2bae0;
}